
app-clickable-element {
  box-sizing: border-box;
  margin: 5px;
}

.ninety-width {
  width: 90%;
}

.ten-width {
  width: 10%;
}

.with-gap {
  gap: 10px;
}

.margin-10 {
  margin: 10px;
}

.small-text {
  font-size: 8px;
}
