<div class="flex flex-row">
  <div class="flex flex-column ninety-width">
    <div class="flex flex-row full-width with-gap">
      @for (_ of dataService.boxes; track $index) {
        <app-clickable-box [index]="$index" class="box-item"></app-clickable-box>
      }
    </div>
  </div>
  <div class="flex flex-column justify-center align-center ten-width">
    <div class="flex flex-row justify-center full-width">
      <div class="flex flex-column align-center justify-start margin-10">
        <button mat-mini-fab class="margin-10" (click)="resetBoxValues()">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="flex flex-row">
          <span class="flex flex-column small-text">Total value: {{ store.calculateSum()() }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
@if (dataService.selectedBoxIndex() !== null) {
  <app-key-pad class="flex" ></app-key-pad>
}
